<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-candidate-heading" jhiTranslate="emobyMphApp.candidate.home.createOrEditLabel">Create or edit a Candidate</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="F">{{ 'emobyMphApp.Gender.F' | translate }}</option>
                        <option value="M">{{ 'emobyMphApp.Gender.M' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.last_name" for="field_last_name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="field_last_name"
                           formControlName="last_name"/>
                    <div *ngIf="editForm.get('last_name')!.invalid && (editForm.get('last_name')!.dirty || editForm.get('last_name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('last_name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.first_name" for="field_first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="field_first_name"
                           formControlName="first_name"/>
                    <div *ngIf="editForm.get('first_name')!.invalid && (editForm.get('first_name')!.dirty || editForm.get('first_name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('first_name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.phone_number" for="field_phone_number">Phone Number</label>
                    <input type="text" class="form-control" name="phone_number" id="field_phone_number"
                           formControlName="phone_number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.date_of_birth" for="field_date_of_birth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_date_of_birth" type="text" class="form-control" name="date_of_birth" ngbDatepicker #date_of_birthDp="ngbDatepicker" formControlName="date_of_birth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="date_of_birthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date_of_birth')!.invalid && (editForm.get('date_of_birth')!.dirty || editForm.get('date_of_birth')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date_of_birth')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.text_clean" for="field_text_clean">Text Clean</label>
                    <textarea class="form-control" name="text_clean" id="field_text_clean"
                              formControlName="text_clean"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.guid" for="field_guid">Guid</label>
                    <input type="text" class="form-control" name="guid" id="field_guid"
                           formControlName="guid"/>
                    <div *ngIf="editForm.get('guid')!.invalid && (editForm.get('guid')!.dirty || editForm.get('guid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('guid')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creation_date" type="datetime-local" class="form-control" name="creation_date" formControlName="creation_date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.update_date" for="field_update_date">Update Date</label>
                    <div class="d-flex">
                        <input id="field_update_date" type="datetime-local" class="form-control" name="update_date" formControlName="update_date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.comment" for="field_comment">Comment</label>
                    <textarea class="form-control" name="comment" id="field_comment"
                              formControlName="comment"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.nationality" for="field_nationality">Nationality</label>
                    <select [compareWith]="compareById" [(ngModel)]="editForm.get('nationality')!" class="form-control" id="field_nationality" name="nationality" formControlName="nationality">
                        <option *ngIf="!editForm.get('nationality')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption" *ngFor="let countryOption of countries;">{{ countryOption.libelle }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('nationality')!.invalid && (editForm.get('nationality')!.dirty || editForm.get('nationality')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('nationality')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label jhiTranslate="emobyMphApp.candidate.dualNationality" for="field_dualNationalities">Dual Nationality</label>
                    <select class="form-control" id="field_dualNationalities" multiple name="dualNationalities" formControlName="dualNationalities">
                        <option [ngValue]="getSelected(editForm.get('dualNationalities')!.value, countryOption)" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.location" for="field_location">Location</label>
                    <select [compareWith]="compareById" [(ngModel)]="editForm.get('location')!" class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.libelle }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.educationlevel" for="field_educationlevel">Educationlevel</label>
                    <select [compareWith]="compareById" [(ngModel)]="editForm.get('educationlevel')!" class="form-control" id="field_educationlevel" name="educationlevel" formControlName="educationlevel">
                        <option *ngIf="!editForm.get('educationlevel')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="educationlevelOption" *ngFor="let educationlevelOption of educationlevels; trackBy: trackById">{{ educationlevelOption.libelle }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('educationlevel')!.invalid && (editForm.get('educationlevel')!.dirty || editForm.get('educationlevel')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('educationlevel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.experience" for="field_experience">Experience</label>
                    <select [compareWith]="compareById" [(ngModel)]="editForm.get('experience')!" class="form-control" id="field_experience" name="experience" formControlName="experience">
                        <option *ngIf="!editForm.get('experience')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="experienceOption" *ngFor="let experienceOption of experiences; trackBy: trackById">{{ experienceOption.libelle }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('experience')!.invalid && (editForm.get('experience')!.dirty || editForm.get('experience')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('experience')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.mobyStatus" for="field_mobyStatus">MobyStatus</label>
                    <select [compareWith]="compareById" [(ngModel)]="editForm.get('mobyStatus')!" class="form-control" id="field_mobyStatus" name="mobyStatus" formControlName="mobyStatus">
                        <option *ngIf="!editForm.get('mobyStatus')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="mobyStatusOption" *ngFor="let mobyStatusOption of mobystatuses; trackBy: trackById">{{ mobyStatusOption.libelle }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="emobyMphApp.candidate.sectorSubsector" for="field_sectorSubsectors">Sector Subsector</label>
                    <select class="form-control" id="field_sectorSubsectors" multiple name="sectorSubsectors" formControlName="sectorSubsectors">
                        <option [ngValue]="getSelected(editForm.get('sectorSubsectors')!.value, sectorSubsectorOption)" *ngFor="let sectorSubsectorOption of sectorsubsectors; trackBy: trackById">{{ sectorSubsectorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="emobyMphApp.candidate.projectphaseActivity" for="field_projectphaseActivities">Projectphase Activity</label>
                    <select class="form-control" id="field_projectphaseActivities" multiple name="projectphaseActivities" formControlName="projectphaseActivities">
                        <option [ngValue]="getSelected(editForm.get('projectphaseActivities')!.value, projectphaseActivityOption)" *ngFor="let projectphaseActivityOption of projectphaseactivities; trackBy: trackById">{{ projectphaseActivityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="emobyMphApp.candidate.technicalDiscipline" for="field_technicalDisciplines">Technical Discipline</label>
                    <select class="form-control" id="field_technicalDisciplines" multiple name="technicalDisciplines" formControlName="technicalDisciplines">
                        <option [ngValue]="getSelected(editForm.get('technicalDisciplines')!.value, technicalDisciplineOption)" *ngFor="let technicalDisciplineOption of technicaldisciplines; trackBy: trackById">{{ technicalDisciplineOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.shortlisted" for="field_shortlisted">Shortlisted</label>
                    <select class="form-control" id="field_shortlisted" name="shortlisted" formControlName="shortlistedId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jobdescriptionOption.id" *ngFor="let jobdescriptionOption of jobdescriptions; trackBy: trackById">{{ jobdescriptionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.candidate.placed" for="field_placed">Placed</label>
                    <select class="form-control" id="field_placed" name="placed" formControlName="placedId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jobdescriptionOption.id" *ngFor="let jobdescriptionOption of jobdescriptions; trackBy: trackById">{{ jobdescriptionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div align="right" class="mb-5">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
