#jd {
  font-weight: bold;
}
.scoreContainer {
  border: 3px solid #6c8cde;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.score {
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 23px;
  color: #6c8cde;
}
h6 {
  font-weight: 500;
  margin-top: 1.25em;
  color: #6c8cde;
}

h4 {
  font-weight: bold;
  color: #6c8cde;
}
h5 {
  font-weight: bold;
  color: #6c8cde;
}

li {
  font-weight: 500;
}

.scoreContainerOne {
  border: 4px solid #6c8cde;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.scoreOne {
  font-weight: bold;
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
  color: #6c8cde;
}
img {
  width: 40px;
  height: 40px;
}

p-dialog:hover {
  cursor: pointer;
}

.p-dialog .p-dialog-header {
  display: none !important;
}

.paginator {
  margin-top: 1em;
  text-align: center;
  margin-left: -9rem;
}
p {
  margin-top: 1em;
  font-weight: 500;
}

.header {
  font-weight:bold;
  padding-right:10px;
}