<div>
    <h2 id="page-heading">
        <span jhiTranslate="emobyMphApp.educationlevel.home.title">Educationlevels</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-educationlevel" [routerLink]="['/educationlevel/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="emobyMphApp.educationlevel.home.createLabel">
            Create a new Educationlevel
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="educationlevels?.length === 0">
        <span jhiTranslate="emobyMphApp.educationlevel.home.notFound">No educationlevels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="educationlevels && educationlevels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="emobyMphApp.educationlevel.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="emobyMphApp.educationlevel.libelle">Libelle</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let educationlevel of educationlevels ;trackBy: trackId">
                    <td><a [routerLink]="['/educationlevel', educationlevel.id, 'view']">{{ educationlevel.id }}</a></td>
                    <td>{{ educationlevel.code }}</td>
                    <td>{{ educationlevel.libelle }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/educationlevel', educationlevel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/educationlevel', educationlevel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(educationlevel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
