<div>
    <h2 id="page-heading">
        <span jhiTranslate="emobyMphApp.projectphaseActivity.home.title">Projectphase Activities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-projectphase-activity" [routerLink]="['/projectphase-activity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="emobyMphApp.projectphaseActivity.home.createLabel">
            Create a new Projectphase Activity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="projectphaseActivities?.length === 0">
        <span jhiTranslate="emobyMphApp.projectphaseActivity.home.notFound">No projectphaseActivities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projectphaseActivities && projectphaseActivities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="emobyMphApp.projectphaseActivity.projectphase">Projectphase</span></th>
                    <th scope="col" ><span jhiTranslate="emobyMphApp.projectphaseActivity.activity">Activity</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectphaseActivity of projectphaseActivities ;trackBy: trackId">
                    <td><a [routerLink]="['/projectphase-activity', projectphaseActivity.id, 'view']">{{ projectphaseActivity.id }}</a></td>
                    <td>
                        <div *ngIf="projectphaseActivity.projectphaseId">
                            <a [routerLink]="['/projectphase', projectphaseActivity.projectphaseId , 'view']" >{{ projectphaseActivity.projectphaseLibelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="projectphaseActivity.activityId">
                            <a [routerLink]="['/activity', projectphaseActivity.activityId , 'view']" >{{ projectphaseActivity.activityLibelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/projectphase-activity', projectphaseActivity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/projectphase-activity', projectphaseActivity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(projectphaseActivity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
