<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mobyStatus">
            <h2><span jhiTranslate="emobyMphApp.mobyStatus.detail.title">Moby Status</span> {{ mobyStatus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="emobyMphApp.mobyStatus.code">Code</span></dt>
                <dd>
                    <span>{{ mobyStatus.code }}</span>
                </dd>
                <dt><span jhiTranslate="emobyMphApp.mobyStatus.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ mobyStatus.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/moby-status', mobyStatus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
