<div>
    <h2 id="page-heading">
        <span jhiTranslate="emobyMphApp.jobdescription.home.title">Jobdescriptions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jobdescription" [routerLink]="['/job/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="emobyMphApp.jobdescription.home.createLabel">
            Create a new Jobdescription
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobdescriptions?.length === 0">
        <span jhiTranslate="emobyMphApp.jobdescription.home.notFound">No jobdescriptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobdescriptions && jobdescriptions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="projectId"><span jhiTranslate="emobyMphApp.jobdescription.project">Project</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="emobyMphApp.jobdescription.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creation_dt"><span jhiTranslate="emobyMphApp.jobdescription.creation_dt">Creation Dt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span jhiTranslate="emobyMphApp.jobdescription.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filename"><span jhiTranslate="emobyMphApp.jobdescription.filename">Filename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobdescription of jobdescriptions ;trackBy: trackId">
                    <td><a [routerLink]="['/job', jobdescription.id, 'view']">{{ jobdescription.id }}</a></td>
                    <td>
                        <div *ngIf="jobdescription.projectId">
                            <a [routerLink]="['/project', jobdescription.projectId , 'view']" >{{ jobdescription.projectId }}</a>
                        </div>
                    </td>
                    <td>{{ jobdescription.name }}</td>
                    <td>{{ jobdescription.creation_dt | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'emobyMphApp.Gender.' + jobdescription.gender }}">{{ jobdescription.gender }}</td>
                    <td>{{ jobdescription.filename }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job', jobdescription.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/job', jobdescription.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobdescription)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jobdescriptions && jobdescriptions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
