<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-opening-heading" jhiTranslate="emobyMphApp.jobOpening.home.createOrEditLabel">Create or edit a Job Opening</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.guid" for="field_guid">Guid</label>
                    <input type="text" class="form-control" name="guid" id="field_guid"
                           formControlName="guid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.text_clean" for="field_text_clean">Text Clean</label>
                    <textarea class="form-control" name="text_clean" id="field_text_clean"
                              formControlName="text_clean"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.file" for="field_file">File</label>
                    <div>
                        <div *ngIf="editForm.get('file')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('fileContentType')!.value, editForm.get('file')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('fileContentType')!.value }}, {{ byteSize(editForm.get('file')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({file: null});editForm.patchValue({fileContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file" (change)="setFileData($event, 'file', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                           formControlName="file"/>
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           formControlName="fileContentType" />
                    <div *ngIf="editForm.get('file')!.invalid && (editForm.get('file')!.dirty || editForm.get('file')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('file')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.creation_date" for="field_creation_date">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creation_date" type="datetime-local" class="form-control" name="creation_date" formControlName="creation_date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.delete_date" for="field_delete_date">Delete Date</label>
                    <div class="d-flex">
                        <input id="field_delete_date" type="datetime-local" class="form-control" name="delete_date" formControlName="delete_date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.jobOpening.jobdescription_text" for="field_jobdescription_text">Jobdescription Text</label>
                    <textarea class="form-control" name="jobdescription_text" id="field_jobdescription_text"
                              formControlName="jobdescription_text"></textarea>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
