<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sectorsubsector-heading" jhiTranslate="emobyMphApp.sectorsubsector.home.createOrEditLabel">Create or edit a Sectorsubsector</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.sectorsubsector.sector" for="field_sector">Sector</label>
                    <select class="form-control" id="field_sector" name="sector" formControlName="sectorId">
                        <option *ngIf="!editForm.get('sectorId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="sectorOption.id" *ngFor="let sectorOption of sectors; trackBy: trackById">{{ sectorOption.libelle }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('sectorId')!.invalid && (editForm.get('sectorId')!.dirty || editForm.get('sectorId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('sectorId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="emobyMphApp.sectorsubsector.subsector" for="field_subsector">Subsector</label>
                    <select class="form-control" id="field_subsector" name="subsector" formControlName="subsectorId">
                        <option *ngIf="!editForm.get('subsectorId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="subsectorOption.id" *ngFor="let subsectorOption of subsectors; trackBy: trackById">{{ subsectorOption.libelle }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('subsectorId')!.invalid && (editForm.get('subsectorId')!.dirty || editForm.get('subsectorId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('subsectorId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
