<div id="home-container">
    <div id="home-launch">
        <div id="logo-img"></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <img class="rounded mx-auto d-block" src="../../../content/images/Assystem-MPH-Qatar.png">
                <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="form-group">
                        <p><span id="mySpn">|</span>Sign into your account</p>
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="{{ 'global.form.username.placeholder' | translate }}"
                            formControlName="username" #username>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="{{ 'login.form.password.placeholder' | translate }}"
                                formControlName="password">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" jhiTranslate="login.form.button" class="btn">Login</button>
                    </div>
                </form>

                <div class="text-center mb-5">
                    <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did
                        you forget your password?</a>
                </div>
                <div class="alert alert-danger text-center" *ngIf="authenticationError"
                    jhiTranslate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
                <!--                     <div class="">
                        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account
                            yet?</span>
                        <a class="alert-link" (click)="register()"
                            jhiTranslate="global.messages.info.register.link">Register a new account</a>
                    </div> -->
            </div>
        </div>
    </div>
</div>